<md-sidenav-container fullscreen>
    <md-sidenav #sidenav mode="push">
        <md-nav-list>
            <a md-list-item routerLink="/home">Home</a>
            <a md-list-item routerLink="/contact">Contact</a>
            <a md-list-item routerLink="/demo">Demo</a>
        </md-nav-list>
        <hr>
        <button md-button (click)="sidenav.close()">CLOSE</button>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>
        Angular Material Demo
        <span class="spacer"></span>
        <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item>
                <md-icon>fingerprint</md-icon>
                <span>Login</span>
            </button>
            <button md-menu-item disabled>
                <md-icon>announcement</md-icon>
                <span>Issues</span>
            </button>
            <button md-menu-item>
                <md-icon>notifications_off</md-icon>
                <span>Disable alerts</span>
            </button>
        </md-menu>
    </md-toolbar>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
